<h1>Sign Up</h1>

<%= form_with model: @user, url: users_create_path do |form| %>

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :gender %>
    <%= form.text_field :gender, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :profile %>
    <%= form.file_field :profile %>
  </div>

  <div class="mb-3">
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>

<% end %>