<h1>Sign Up</h1>

<%= form_with model: @user, url: users_create_path do |form| %>

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :gender %><br>
    <%= form.radio_button(:gender, "Male") %>
    <%= label_tag(:gender, "Male") %>
    <%= form.radio_button(:gender, "Female") %>
    <%= label_tag(:gender, "Female") %>
  </div>

  <div class="mb-3">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :profile %>
    <%= form.file_field :profile %>
  </div>

  <div class="mb-3">
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>

<% end %>