<%= form_with model: fine do |form| %>
  <% if @fine.errors.any? %>
    <% @fine.errors.full_messages.each do |message| %>
     <p><%= message %></p>
    <% end %>
  <% end %>
  


  <div>
    <%= form.label :student_id %><br>
    <%= form.text_field :student_id%>
  </div>

  <div>
    <%= form.label :amount %><br>
    <%= form.number_field :amount %>
  </div>

   <div>
    <%= form.label :payment_status %><br>
    <%= form.select :payment_status , [true,
                                false] %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
