<h1> Fine Details </h1>

<p><strong>Issue_returns_id: </strong><%= @fine.issue_returns_id %></p>
<p><strong>Student_id: </strong><%= @fine.student_id %></p>
<p><strong>Amount: </strong><%= @fine.amount %></p>
<p><strong>Payment_status: </strong><%= @fine.payment_status %></p>

<%= link_to "Back:", fines_path %> | <%= link_to 'Edit', edit_fine_path(@fine) %>


