<%= form_with model: author do |form| %>
  <% if @author.errors.any? %>
    <% @author.errors.full_messages.each do |message| %>
     <p><%= message %></p>
    <% end %>
  <% end %>
  
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :author_id %><br>
    <%= form.text_field :author_id %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :gender %><br>
    <%= form.radio_button(:gender, "Male") %>
    <%= label_tag(:gender, "Male") %>
    <%= form.radio_button(:gender, "Female") %>
    <%= label_tag(:gender, "Female") %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
