<h1> Student Details </h1>

<p><strong>Name: </strong><%= @student.name %></p>
<p><strong>Student_id: </strong><%= @student.id %></p>
<p><strong>Address: </strong><%= @student.address %></p>
<p><strong>Phone_no: </strong><%= @student.phone_no %></p>
<p><strong>Email: </strong><%= @student.email %></p>

<%= link_to "Back:", students_path %> | <%= link_to 'Edit', edit_student_path(@student) %>

