<%= form_with model: issue_returns do |form| %>
  <% if @issue_returns.errors.any? %>
    <% @issue_returns.errors.full_messages.each do |message| %>
     <p><%= message %></p>
    <% end %>
  <% end %>
  
   <div>
    <%= form.label :issue_returns_id %><br>
    <%= form.text_field :issue_returns_id %>
  </div>

  <div>
    <%= form.label :book_id %><br>
    <%= form.text_field :book_id %>
  </div>

  <div>
    <%= form.label :student_id %><br>
    <%= form.text_field :student_id%>
  </div>

  <div>
    <%= form.label :issue_time %><br>
    <%= form.time_field :issue_time %>
  </div>

  <div>
    <%= form.label :return_time %><br>
    <%= form.time_field :return_time %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
