<h1> Issue_returns Details </h1>
<%= link_to "New Issue_return", new_issue_return_path %>

<%= form_tag(search_issue_returns_path, method: :get,turbo: false) do%>
  Student_id
  <%= text_field_tag :student_id, params[:student_id] %>
  <%= submit_tag 'Search',turbo: false %>
<% end %>

<table>
  <thead>
    <tr>
      <th> Book_id </th>
      <th> student_id </th>
      <th> Issue_time </th>
      <th> Return_time </th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @issue_returns.each do |issue_returns| %>
      <tr>
        <td><%= issue_returns.book_id %></td>
        <td><%= issue_returns.student_id %></td>
        <td><%= issue_returns.issue_time %></td>
        <td><%= issue_returns.return_time %></td>
        <td><%= link_to 'View', IssueReturn %></td>
        <td><%= link_to 'Edit', edit_issue_return_path(issue_returns) %></td>
        <td><%=  button_to "delete", issue_return_path(issue_returns.id), method: :delete  %></td>
      </tr>
    <% end %>
  </tbody>
</table>