<h1> Book Details </h1>

<p><strong>Book_id: </strong><%= @issue_returns.book_id %></p>
<p><strong>:Student_id: </strong><%= @issue_returns.student_id %></p>
<p><strong>Issue_time: </strong><%= @issue_returns.issue_time %></p>
<p><strong>Return_time: </strong><%= @issue_returns.return_time %></p>
<%= link_to "Back:", issue_returns_path %> | <%= link_to 'Edit', edit_issue_returns_path(@issue_returns)) %>

