<div id="<%= dom_id issues_return %>">
  <p>
    <strong>Student:</strong>
    <%= issues_return.student_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= issues_return.book_id %>
  </p>

  <p>
    <strong>Issue date:</strong>
    <%= issues_return.issue_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= issues_return.return_date %>
  </p>

</div>
