<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'student.png'%>
    <title>LibraryMngmtSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

<body style="background-color: pink;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <%= link_to "Navbar", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Students", students_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Authors", authors_path, class: "nav-link" %>
        </li>

        <li class="nav-item"> 
          <%= link_to "Books", books_path, class:"nav-link" %>

        <li class="nav-item">
          <%= link_to "Fines", fines_path, class:"nav-link" %>
        
        <li class="nav-item">
          <%= link_to "Issue_return", issue_returns_path, class:"nav-link" %>

        <li class="nav-item">
          <%= link_to "Category", categories_path, class:"nav-link" %>
      </ul>
    </div>
    </div>
  </nav>
  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</body>
</html>
